<configuration>
	<components>
		<component id="MyServiceInterceptor"
				   service="AOPCSharp.Services.Interceptors.MyServiceInterceptor,AOPCSharp.Services.Interceptors"
				   type="AOPCSharp.Services.Interceptors.MyServiceInterceptor,AOPCSharp.Services.Interceptors" />
		<component id="IMyservice"
				   service="AOPCSharp.Services.Interfaces.IMyService,AOPCSharp.Services.Interfaces"
				   type="AOPCSharp.Services.MyService,AOPCSharp.Services" />
		<interceptors>
			<interceptor>${MyServiceInterceptor}</interceptor>
		</interceptors>
	</components>
</configuration>